<main class="main">
  <div class="content">
    <div class="buttonArea">
      <button (click)="clearText()">クリア</button>
      <button (click)="saveText()">保存</button>
    </div>
    <div class="memo">
      <textarea name="memo" placeholder="Enter your memo here..." [(ngModel)]="content" (input)="saveText()"></textarea>
    </div>
    @if(currentIntruder) {
      <div class="overlay" (click)="dismiss()">
        <div class="overlay-content">
          <p class="alert-text">{{ currentIntruder.alert }}</p>
          <p class="image"><img [(src)]="currentIntruder.src" [(alt)]="currentIntruder.emoji"/></p>
          <p class="message-text">{{ currentIntruder.message }}</p>
          <p class="dismiss-text">クリックして追い払う</p>
        </div>
      </div>
    }
  </div>
</main>
